<div class="container">
  <div class="inner">
    <div class="label">{{label}}</div>
    <div class="line">
      <div class="hours">
        <button mat-icon-button (click)="hoursAction('remove')">
          <mat-icon>remove</mat-icon>
        </button>
        <div class="time_hours">{{hoursToShow}}</div>
        <button mat-icon-button (click)="hoursAction('add')">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <span class="separator">:</span>
      <div class="minutes">
        <button mat-icon-button (click)="minutesAction('remove')">
          <mat-icon>remove</mat-icon>
        </button>
        <div class="time_minutes">{{minutesToShow}}</div>
        <button mat-icon-button (click)="minutesAction('add')">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
