<div class="calendar-container">
  <div class="top">
    <button mat-icon-button (click)="onChangeMonth('prev')">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="title text">{{title}}</div>
    <button mat-icon-button (click)="onChangeMonth('next')">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <div class="calendar-days">
    <div class="dayname text" *ngFor="let dayname of dayNames">{{dayname}}</div>
    <ng-container *ngFor="let day of days">
      <div
        class="day"
        [ngClass]="getDayStyling(day)"
        (click)="onDayClick(day)"
      >
        {{day.day}}
      </div>
    </ng-container>
  </div>
</div>
