:host {
  --container-width: 700px;
  --element-width: 30px;
  --font-size: 1em;
  --dayname-color: #9c9c9c;
  --monthyear-color: #9c9c9c;
  --text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  --daynames-padding: 0;
  --day-color: #ffffff;
  --day-bgcolor-active: #64a1ff;
  --day-bgcolor-today: #4f67d1;
  --day-bgcolor-hover: #498cf0;
  --day-bgcolor-disabled: #e8e8e8;
}

.calendar-container {
  font-weight: 200;
  margin: 0 auto;
  max-width: var(--container-width);

  .text {
    font-size: var(--font-size);
    user-select: none;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: var(--monthyear-color);

    .title {
      text-align: center;
    }
  }

  .calendar-days {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 5px;
    justify-items: center;

    .dayname {
      padding-bottom: var(--daynames-padding);
      color: var(--dayname-color);
    }

    .day {
      text-shadow: var(--text-shadow);
      font-size: var(--font-size);
      color: var(--day-color);
      border-radius: 50%;
      width: var(--element-width);
      height: var(--element-width);
      line-height: var(--element-width);
      text-align: center;
      user-select: none;

      &.day_active {
        background-color: var(--day-bgcolor-active);
        cursor: pointer;
        box-shadow: 1px 1px rgba(0, 0, 0, 0.5);

        &.today {
          background-color: var(--day-bgcolor-today);
        }

        &:hover {
          background-color: var(--day-bgcolor-hover);
        }

        &:active {
          transform: scale(1.1);
        }
      }

      &.day_disabled {
        cursor: not-allowed;
        background-color: var(--day-bgcolor-disabled);
        box-shadow: none;
      }
    }
  }

  @media (min-width: 325px) {
    --element-width: 40px;
    --font-size: 1.2em;
    --daynames-padding: 5px;
  }

  @media (min-width: 400px) {
    --element-width: 50px;
    --font-size: 1.4em;
    --daynames-padding: 5px;
  }

  @media (min-width: 550px) {
    --element-width: 70px;
    --font-size: 1.6em;
    --daynames-padding: 5px;
  }
}
