<mat-card>
  <mat-card-header>
    <mat-card-title>Mandag - interval</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <div class="periodes">
        <mat-radio-group
          aria-label="Select an option"
          class="periode-select"
          (change)="periodeChange($event)"
          [value]="selectedPeriode"
        >
          <mat-radio-button value="allday" class="periode"
            >Hele dagen</mat-radio-button
          >
          <mat-radio-button value="timeperiode" class="periode"
            >Tids periode</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div class="time_periode_container" *ngIf="showTimePeriodeContainer">
        <div class="timeintervals">
          <div class="interval">
            <div class="from_interval_edit">
              <app-time-selector
                label="Fra kl."
                [hours]="fromIntervalHourValue"
                [minutes]="fromIntervalMinutValue"
                (timeChange)="fromIntervalChange($event)"
              ></app-time-selector>
            </div>
          </div>

          <div class="interval">
            <div class="to_interval_edit">
              <app-time-selector
                label="Til kl."
                [hours]="toIntervalHourValue"
                [minutes]="toIntervalMinutValue"
                (timeChange)="toIntervalChange($event)"
              ></app-time-selector>
            </div>
          </div>
        </div>

        <div class="time_hour_interval">
          <mat-form-field class="select">
            <mat-label>Time interval</mat-label>
            <mat-select
              (selectionChange)="hourSelectChange($event)"
              [value]="hourSelectValue"
            >
              <mat-option
                [value]="item.value"
                *ngFor="let item of hoursSelectValues"
              >
                {{item.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span class="separator"> - </span>
          <mat-form-field class="select">
            <mat-label>Minut Interval</mat-label>
            <mat-select
              (selectionChange)="minutSelectChange($event)"
              [value]="minutSelectValue"
            >
              <mat-option
                [value]="item.value"
                *ngFor="let item of minutesSelectValues"
              >
                {{item.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="generate_button">
          <button mat-raised-button (click)="generate()">Generer</button>
        </div>
        <mat-chip-list class="mat-chip-list-stacked" aria-label="tids interval">
          <mat-chip
            *ngFor="let item of results; let i=index"
            [removable]="true"
            (removed)="remove(i)"
            ><span>kl. {{formatInterval(item)}}</span>
            <mat-icon matChipRemove>cancel</mat-icon></mat-chip
          >
        </mat-chip-list>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="buttons">
      <button mat-raised-button (click)="action('cancel')">Fortryd</button>
      <button
        mat-raised-button
        color="primary"
        (click)="action('save')"
        cdkFocusInitial
        [disabled]="selectedPeriode==='timeperiode' && this.results.length === 0"
      >
        Gem
      </button>
    </div>
  </mat-card-actions>
</mat-card>
