.mat-chip {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.periodes {
  height: 60px;
  .periode-select {
    display: flex;
    flex-direction: column;

    .periode:first-child {
      margin-bottom: 5px;
    }
  }
}


.select {
  width: 100px;
}

.timeintervals {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  .interval {
    margin-top: 10px;

    .from_interval_text,
    .to_interval_text {
      display: inline-block;
      text-align: center;
      width: 100%;
      font-size: 1.1em;
      font-weight: 200;
    }
  }
}

.time_hour_interval {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
