<div role="list" class="container">
  <div class="item">
    <mat-card>
      <mat-card-content>
        <div class="content">
          <div class="date_circle">
            <div class="dateinfo">
              <div class="date">23.</div>
              <div class="month">dec.</div>
              <div class="year">2020</div>
            </div>
          </div>
          <div class="right">
            <div class="body">
              <div class="title">Bane 1 med en</div>
              <div class="time"><mat-icon>access_time</mat-icon> kl. 12.00 - 14.00</div>
              <div class="person"><mat-icon>person</mat-icon> Christian Vitting Nicolaisen</div>
            </div>
            <div class="menu">
              <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
            </div>
          </div>
          </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="buttons">
          <button mat-button>Godkend</button>
        <button mat-button>Afslå</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="item">
    <mat-card>
      <mat-card-content>
        <div class="content">
          <div class="date_circle">
            <div class="dateinfo">
              <div class="date">23.</div>
              <div class="month">sept.</div>
              <div class="year">2020</div>
            </div>
          </div>
          <div class="right">
            <div class="body">
              <div class="title">Bane 1 med en</div>
              <div class="time"><mat-icon>access_time</mat-icon> kl. 12.00 - 14.00</div>
              <div class="person"><mat-icon>person</mat-icon> Christian Vitting Nicolaisen</div>
            </div>
            <div class="menu">
              <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
            </div>
          </div>
          </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="buttons">
          <button mat-button>Godkend</button>
        <button mat-button>Afslå</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
